<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-client-heading" jhiTranslate="brezaApp.client.home.createOrEditLabel">Create or edit a Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!client.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="client.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="brezaApp.client.fistName" for="field_fistName">Fist Name</label>
                    <input type="text" class="form-control" name="fistName" id="field_fistName"
                        [(ngModel)]="client.fistName" required pattern="([a-zA-Z]*)"/>
                    <div [hidden]="!(editForm.controls.fistName?.dirty && editForm.controls.fistName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fistName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fistName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Fist Name' }">
                            This field should follow pattern for "Fist Name".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="brezaApp.client.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="client.lastName" required pattern="([a-zA-Z]*)"/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.lastName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Last Name' }">
                            This field should follow pattern for "Last Name".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="brezaApp.client.toCity" for="field_toCity">To City</label>
                    <select class="form-control" id="field_toCity" name="toCity" [(ngModel)]="client.toCity" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === client.toCity?.id ? client.toCity : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
