<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="brezaApp.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="brezaApp.client.fistName">Fist Name</span></dt>
                <dd>
                    <span>{{client.fistName}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.client.lastName">Last Name</span></dt>
                <dd>
                    <span>{{client.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.client.toCity">To City</span></dt>
                <dd>
                    <div *ngIf="client.toCity">
                        <a [routerLink]="['/city', client.toCity?.id, 'view']">{{client.toCity?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
